@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
	font-family: 'Roboto', sans-serif;
	background: #171b1f;
	color: white;
}

form.center {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	.join-btn {
		font-size: 1.5em;
		width: 180px;
		padding: 18px;
		text-align: center;
		background: white;
		border: none;
		border-radius: 5px;
		color: #dc2e4e;
		word-spacing: 5px;
		cursor: pointer;

		&:hover {
			background: #dc2e4e;
			color: white;
		}
	}
}

.overlay {
	position: absolute;
	bottom: 0;
	top: 0;
	right: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.753);
	z-index: 1;
	display: none;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: white;

	.waiting {
		display: none;
	}

	.center {
		display: none;
		order: 2;
		width: 20%;
		margin: 0;
		text-align: center;
		color: white;

		h1 {
			width: 200px;
			margin: 0 auto;
		}

		button {
			width: 180px;
			padding: 18px;
			text-align: center;
			background: white;
			border: none;
			border-radius: 5px;
			color: #dc2e4e;
			font-weight: 600;
			word-spacing: 5px;
			cursor: pointer;
			margin: 20px 20px 20px 0;
		}
	}
}

.game-box {
	border-radius: 7px;
	display: grid;
	grid-template-rows: 1fr 10fr 1fr;
	position: relative;
	margin: 20px auto;
	min-height: calc(100vh - 40px);
	height: 500px;
	max-width: 500px;
	background: #0e0814;
	box-shadow: 0 1px 20px 1px #00000067;
}

#secret-number-form {
	grid-row-start: 0;
	grid-row-start: 1;
	display: flex;
	justify-content: center;
	align-items: center;

	input {
		color: white;
		background: #190e23;
		border: none;
		width: 55%;
		height: 30px;

		&::placeholder {
			color: white;
		}
	}

	button {
		border: none;
		width: 15%;
		height: 30px;
	}
}

.heading-number,
.waitMsg {
	border-radius: 7px 7px 0 0;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	grid-row-start: 0;
	grid-row-start: 1;
	text-align: center;
	background: #190e23;
	color: white;
	font-size: 2em;
}

.waitMsg {
	font-size: 1em;
}

.guess-list {
	margin: 0;
	margin-top: 10px;
	padding: 0 20px;
	font-size: 1.5em;
	color: white;
	overflow-y: scroll;

	&::-webkit-scrollbar {
		display: none;
	}

	.guess {
		padding: 10px;
		background: #39244d;
		margin: 5px 0;
		border-radius: 3px;
	}
	.guess:nth-child(even) {
		background: #241235;
	}

	.guess:last-child {
		background: red;
	}
}

#guess-form {
	display: none;
	background: gray;
	position: absolute;
	bottom: 0px;
	width: 100%;
	flex-direction: column;
	height: 40px;

	input {
		color: white;
		background: #190e23;
		border: none;
		position: absolute;
		bottom: 0;
		top: 0;
		width: 85%;

		&::placeholder {
			color: white;
		}
	}

	button {
		border: none;
		position: absolute;
		bottom: 0;
		top: 0;
		right: 0;
		width: 15%;
	}
}

.roomMsg {
	position: absolute;
	top: 10px;
	font-weight: bold;
}
