@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body {
  font-family: 'Roboto', sans-serif;
  background: #171b1f;
  color: white;
}

.overlay {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.753);
  z-index: 1;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: white;
}

.overlay .center {
  display: none;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 20%;
  margin: 0;
  text-align: center;
  color: white;
}

.overlay .center h1 {
  width: 200px;
  margin: 0 auto;
}

.overlay .center button {
  width: 180px;
  padding: 18px;
  text-align: center;
  background: white;
  border: none;
  border-radius: 5px;
  color: #dc2e4e;
  font-weight: 600;
  word-spacing: 5px;
  cursor: pointer;
  margin: 20px 20px 20px 0;
}

.game-box {
  border-radius: 7px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 10fr 1fr;
      grid-template-rows: 1fr 10fr 1fr;
  position: relative;
  margin: 20px auto;
  min-height: calc(100vh - 40px);
  max-width: 500px;
  background: #0e0814;
  -webkit-box-shadow: 0 1px 20px 1px #00000067;
          box-shadow: 0 1px 20px 1px #00000067;
}

#secret-number-form {
  -ms-grid-row: 0;
      grid-row-start: 0;
  grid-row-start: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#secret-number-form input {
  color: white;
  background: #190e23;
  border: none;
  width: 55%;
  height: 30px;
}

#secret-number-form input::-webkit-input-placeholder {
  color: white;
}

#secret-number-form input:-ms-input-placeholder {
  color: white;
}

#secret-number-form input::-ms-input-placeholder {
  color: white;
}

#secret-number-form input::placeholder {
  color: white;
}

#secret-number-form button {
  border: none;
  width: 15%;
  height: 30px;
}

.heading-number {
  border-radius: 7px 7px 0 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 0;
      grid-row-start: 0;
  grid-row-start: 1;
  text-align: center;
  background: #190e23;
  color: white;
  font-size: 2em;
}

.guess-list {
  margin: 0;
  margin-top: 10px;
  padding: 0 20px;
  font-size: 1.5em;
  color: white;
}

.guess-list .guess {
  padding: 10px;
  background: #39244d;
  margin: 5px 0;
  border-radius: 3px;
}

.guess-list .guess:nth-child(even) {
  background: #241235;
}

#guess-form {
  display: none;
  background: gray;
  position: absolute;
  bottom: 0px;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 30px;
}

#guess-form input {
  color: white;
  background: #190e23;
  border: none;
  position: absolute;
  bottom: 0;
  top: 0;
  width: 85%;
}

#guess-form input::-webkit-input-placeholder {
  color: white;
}

#guess-form input:-ms-input-placeholder {
  color: white;
}

#guess-form input::-ms-input-placeholder {
  color: white;
}

#guess-form input::placeholder {
  color: white;
}

#guess-form button {
  border: none;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  width: 15%;
}
/*# sourceMappingURL=main.css.map */